.scrollDiv::-webkit-scrollbar {
  width: 0px;
}

.selected {
  border: 1px solid gray;
}

.non {
  border: 1px solid #fff;
}

.messageDiv {
  padding: 10px 10px 0 10px;
}
.messageDiv::-webkit-scrollbar {
  width: 5px;
}

.messageDiv::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d1d1d1;
}
